*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: rem(16px);
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.42;
  color: #383a3c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $gray;
}

p {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

// instead of display: none;
.vshidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__section {
  width: 100%;
  height: 100%;
}

.main__container {
  width: 80%;
  margin: 0 auto;
}

.main__title {
  font-family: "BebasNeueBold";
  font-size: 72px;
  color: $blue;
  margin-bottom: 80px;
  &--white {
    color: $white;
  }
}

.main__button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.main_button--header {
  background: transparent;
  color: $red;
  border: 2px solid $red;
  width: 230px;
  height: 50px;
  transition: .3s;
  &:hover {
    background-color: $red;
    color: $white;
  }
}