// Myriad Font
@font-face {
  font-family: 'Myriad';
  src: url('./assets/fonts/Myriad/MyriadPro-Regular.woff')format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

// BebasNeueBold Font
@font-face {
  font-family: 'BebasNeueBold';
  src: url('./assets/fonts/BebasNeueBold/BebasNeueBold.woff')format('woff'), url('./assets/fonts/BebasNeueBold/BebasNeueBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

// Roboto Font
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Bold.woff') format('woff'), url('/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: block;
}