.advantage
  ul.advantage__list
    li.advantage__item
      .advantage__icon
        +icon('calendar','advantage__img')
      .advantage__desc Quick installation in 1-2 days regardless of network architecture
    li.advantage__item
      .advantage__icon
        +icon('certificate','advantage__img')
      .advantage__desc Compliance-ready solutions for GRDP, PCI DS S, HIPAA, FRPA and other
    li.advantage__item
      .advantage__icon
        +icon('shapes','advantage__img')
      .advantage__desc Industry solutions for Retail, Financial, Healthcare and 10 more