.main__section.banner
  .main__container
    .banner__slider.owl-loaded
      .owl-stage-outer
        .banner__slider-list.owl-stage
          .banner__slider-item.owl-item
            .banner__slider-title “ We can bе sure that Zecurion DLP successfully protects the information from leaks... ”
            .banner__slider-rating
              ul.banner__rating-list
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
              .banner__rating-subtitle 5 stars from Gartner Рееr Insights
            button.main__button--red(type="button") read more
          .banner__slider-item.owl-item
            .banner__slider-title “ We can bе sure that Zecurion DLP successfully protects the information from leaks... ”
            .banner__slider-rating
              ul.banner__rating-list
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
              .banner__rating-subtitle 5 stars from Gartner Рееr Insights
            button.main__button--red(type="button") read more
          .banner__slider-item.owl-item
            .banner__slider-title “ We can bе sure that Zecurion DLP successfully protects the information from leaks... ”
            .banner__slider-rating
              ul.banner__rating-list
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
              .banner__rating-subtitle 5 stars from Gartner Рееr Insights
            button.main__button--red(type="button") read more
      .hero__slider-control.owl-nav
        button.slider__btn.banner_slider--prev(type="button")
        button.slider__btn.banner_slider--next(type="button")