.main__section.banner
  .main__container
    .banner__slider
      .banner__slider-window
        ul.banner__slider-list
          li.banner__slider-item
            .banner__slider-title “ We can bе sure that Zecurion DLP successfully protects the information from leaks... ”
            .banner__slider-rating
              ul.banner__rating-list
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
              .banner__rating-subtitle 5 stars from Gartner Рееr Insights
            button.banner__slider-btn(type="button") read more
          li.banner__slider-item
            .banner__slider-title “ We can bе sure that Zecurion DLP successfully protects the information from leaks... ”
            .banner__slider-rating
              ul.banner__rating-list
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
              .banner__rating-subtitle 5 stars from Gartner Рееr Insights
            button.banner__slider-btn(type="button") read more
          li.banner__slider-item
            .banner__slider-title “ We can bе sure that Zecurion DLP successfully protects the information from leaks... ”
            .banner__slider-rating
              ul.banner__rating-list
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
                li.banner__rating-item
                  a.banner__rating-link(href='#0')
                    +icon('star', 'banner__rating-img')
              .banner__rating-subtitle 5 stars from Gartner Рееr Insights
            button.banner__slider-btn(type="button") read more
      .banner__slider-controls
        button.banner__controls-slider.banner_controls-slider--prev(type="button")
        button.banner__controls-slider.banner_controls-slider--next(type="button")