footer.footer
  .main__container
    .footer__block
      .footer__top
        .links
          ul.links__list
            li.links__block
              ul.links__block-list Products
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion DLP
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion PAM
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion SWG
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion Storage Secrutity
            li.links__block
              ul.links__block-list Partners
                li.links__block-item
                  a.links__block-link(href="#0") Find a partner
                li.links__block-item
                  a.links__block-link(href="#0") Become a partner
                li.links__block-item
                  a.links__block-link(href="#0") Technological partners
            li.links__block
              ul.links__block-list Support
                li.links__block-item
                  a.links__block-link(href="#0") Find a partner
                li.links__block-item
                  a.links__block-link(href="#0") Become a partner
                li.links__block-item
                  a.links__block-link(href="#0") Technological partners
            li.links__block
              ul.links__block-list Resources
                li.links__block-item
                  a.links__block-link(href="#0") Blog
            li.links__block
              ul.links__block-list About
                li.links__block-item
                  a.links__block-link(href="#0") Contact us
                li.links__block-item
                  a.links__block-link(href="#0") Customers
                li.links__block-item
                  a.links__block-link(href="#0") News
                li.links__block-item
                  a.links__block-link(href="#0") Privacy and cookies
      .footer__bottom

