footer.footer
  .footer__block
    .footer__top
      .main__container
        .links
          ul.links__list
            li.links__block
              ul.links__block-list Products
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion DLP
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion PAM
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion SWG
                li.links__block-item
                  a.links__block-link(href="#0") Zecurion Storage Secrutity
            li.links__block
              ul.links__block-list Partners
                li.links__block-item
                  a.links__block-link(href="#0") Find a partner
                li.links__block-item
                  a.links__block-link(href="#0") Become a partner
                li.links__block-item
                  a.links__block-link(href="#0") Technological partners
            li.links__block
              ul.links__block-list Support
                li.links__block-item
                  a.links__block-link(href="#0") Find a partner
                li.links__block-item
                  a.links__block-link(href="#0") Become a partner
                li.links__block-item
                  a.links__block-link(href="#0") Technological partners
            li.links__block
              ul.links__block-list Resources
                li.links__block-item
                  a.links__block-link(href="#0") Blog
            li.links__block
              ul.links__block-list About
                li.links__block-item
                  a.links__block-link(href="#0") Contact us
                li.links__block-item
                  a.links__block-link(href="#0") Customers
                li.links__block-item
                  a.links__block-link(href="#0") News
                li.links__block-item
                  a.links__block-link(href="#0") Privacy and cookies
    .footer__bottom
      .main__container
        .footer__bottom-block
          .socials
            .socials__icons
              ul.socials__list
                li.socials__pic
                  +icon("social_fb", "socials__pics")
                li.socials__pic
                  +icon("social_tw", "socials__pics")
                li.socials__pic
                  +icon("social_inst", "socials__pics")
                li.socials__pic
                  +icon("social_youtube", "socials__pics")
            .socials__tel
              a(href="tel:++18665810999").phone-number Call us +1 866 5810999
              a.contact-us(href="#0") Contact us
          .contacts
            .contacts__mail
              input.contacts__input(type="text" placeholder='Your email adress')
              button.contacts__btn(type="button") Sign up for Zecurion news
            .contacts__copyright
              span.copyright 	&#169; Zecurion, 2001-2018
