.main__section.hero
  .main__container
    .hero__box
      .hero__desc
        .main__title--white Easy-to-use and easy-to ­implement enterprise DLP
        ul.hero__list
          li.hero__item 4 times faster installation compared to other enterprise DLP
          li.hero__item Perpetual licenses from $60 рег user
          li.hero__item 50+ preinstalled reports and 2.0+ customization options
          li.hero__item Policy templates for quick start
        button.main__button--red.hero-btn(type="button") Request а demo
      .hero__picture
        +image('hero_graphic.png','Graphic', 'hero__picture-img')
    h2.hero__trusted We аrе trusted by
    .hero__slider.owl-carousel.owl-theme.owl-loaded
      .owl-stage-outer
        .owl-stage
          .owl-item
            +icon('logo_xbox', 'hero__slider-icon')
          .owl-item
            +icon('logo_infiniti', 'hero__slider-icon')
          .owl-item
            +icon('logo_gshock', 'hero__slider-icon')
          .owl-item
            +icon('logo_ea', 'hero__slider-icon')
          .owl-item
            +icon('logo_dell', 'hero__slider-icon')
          .owl-item
            +icon('logo_github', 'hero__slider-icon')
      .hero__slider-control.owl-nav
        .hero__slider-btn.hero_slider-btn--prev.owl-prev(type='button')
        .hero__slider-btn.hero_slider-btn--next.owl-next(type='button')