.main__section.interested
  .main__container
    h1.main__title.interest__title you may be interested in
    .features
      ul.features__list
        li.features__column
          .features__head
            +icon('icon_zecurion-pam', 'features__img')
            .features__head-desc
              .features__heading Zecurion Pam
              .features__description Privileged access management
          .features__desc Visual control of power users and prevention of their obuse of privilegies
          .features__items
            .features__item Isolates critical network resources (users do not connect to managed systems directly)
            .features__item Records users logs and video sessions, allows watching them with an interactive player right in the console
            .features__item Controls all popular remote administration protocol including SSH, RDP, HTTP, HTTPS
          button.features__btn.main__button Learn more
        li.features__column
          .features__head
            +icon('icon_zecurion-globus', 'features__img')
            .features__head-desc
              .features__heading Zecurion Swg
              .features__description Secure web gateway
          .features__desc Web sites acces control and traffic analysis from a single point
          .features__items
            .features__item Easily  implemented thanks to ogentless orchitercture
            .features__item Classifies over 500 million URLs with traffic starting from 4 visits per day
            .features__item Distinguishes over 100 web sites categories including unwanted and malware
            .features__item Provides detailed reports on visited web sites with per-user granularity
            .features__item Native integration with Zecurion DLP. Integration with other software via ICAP
          button.features__btn.main__button Learn more
        li.features__column
          .features__head
            +icon('icon_zecurion-note', 'features__img')
            .features__head-desc
              .features__heading Zecurion storage security
          .features__desc Transparent encryption of critical data on Windows servers and storage (SAN, NAS, etc.)
          .features__items
            .features__item 1-day installation the corporate environment without interrupting user operation
            .features__item Remote managment (including emenrgency data destroy vio the phone or application)
            .features__item Separates employee privilegies and reduces the risks of abuse/collusion/theft thanks to a key quorum
            .features__item Requires neither reconfiguring your network or applications, nor user training 
          button.features__btn.main__button Learn more