.main__section.interested
  .main__container
    h1.main__title you may be interested in
    .features
      ul.features__list
        li.features__item
          .features__head
          .features__desc Priveleged acces managment
          .features__items
            .features__item Isolates critical network resources (users do not connect to managed systems directly)
            .features__item Records users logs and video sessions, allows watching them with an interactive player right in the console
            .features__item Controls all popular remote administration protocol including SSH, RDP, HTTP, HTTPS
        li.features__item
          .features__head
          .features__desc
          .features__items
            .features__item
            .features__item
            .features__item
            .features__item
            .features__item
        li.features__item
          .features__head
          .features__desc
          .features__items
            .features__item
            .features__item
            .features__item
            .features__item