.main__section.prevention
  .main__container
    .prevention__titles
      h2.prevention__subtitle Our key product
      h1.main__title Zecurion Data Loss Prevention
    .prevention__video
      button.prevention__btn-play(type="button")
      .prevention__video-subtitle Learn how Zecurion DLP helps companies minimize losses from insider threats
<<<<<<< HEAD
    .prevention__advantage
=======
    .prevention__advantage
      include ../blocks/advantage.pug
    button.main__button--red(type="button") Request а demo
>>>>>>> 8de33ece8f7713a47846e032440b5d7fd05c55ca
