.main__section.prevention
  .main__container
    .prevention__titles
      h2.prevention__subtitle Our key product
      h1.main__title Zecurion Data Loss Prevention
    .prevention__video
      button.prevention__btn-play(type="button")
      .prevention__video-subtitle Learn how Zecurion DLP helps companies minimize losses from insider threats
    .prevention__advantage