.main__section.protect
  .main__container
    h1.main__title--white.protect-head Protect your confidential information in 3 steps
    .steps
      ul.steps__list
        li.steps__item
          .steps__item-num 1
          span.steps__item-word step
          p.steps__item-desc See how it works
        li.steps__item
         +icon('arrow_line-right', 'steps__arrow')
        li.steps__item
          .steps__item-num 2
          span.steps__item-word step
          p.steps__item-desc Try all Zecurion features on a free pilot project
        li.steps__item
              +icon('arrow_line-right', 'steps__arrow')
        li.steps__item 
          .steps__item-num 3
          span.steps__item-word step
          p.steps__item-desc Scale the solution for the whole company
    .protect-btns
      button.protect__button Request a demo
      button.protect__button--white Learn more about zecurion dlp