.main__section.register
  .main__container
    h1.main__title Register for a free demo
    form.register__form(action="")
      .form-container
        .form__row
          label.form__block
            span.form__title Name
            input.form__input(type="text")
          label.form__block
            span.form__title Last name
            input.form__input(type="text")
        .form__row
          label.form__block
            span.form__title Job title
            input.form__input(type="text")
          label.form__block
            span.form__title Country
            input.form__input(type="text")
        .form__row
          label.form__block
            span.form__title Company
            input.form__input(type="text")
          label.form__block
            span.form__title Company size
            +icon('arrow_down', 'select-arrow')
            select.form__select.form__input(name="company")
              option(value="#") 
              option(value="s") Small
              option(value="m") Medium
              option(value="l") Large
        .form__row
          label.form__block
            span.form__title Phone
            input.form__input(type="text")
          label.form__block
            span.form__title Email
            input.form__input(type="text")
        .form__row
          button(type="submit").form__submit.main__button Request a demo
