.main__section.register
  .main__container
    h1.register__heading Register for a free demo
    form.register__form(action="")
      .form-container
        .form__row
          label.form__block
            span.form__title Name
            input.form__input(type="text")
          label.form__block
            span.form__title Last name
            input.form__input(type="text")
        .form__row
          label.form__block
            span.form__title Job title
            input.form__input(type="text")
          label.form__block
            span.form__title Country
            input.form__input(type="text")
        .form__row
          label.form__block
            span.form__title Company
            input.form__input(type="text")
          label.form__block
            span.form__title Company size
            input.form__input(type="text")
        .form__row
          label.form__block
            span.form__title Phone
            input.form__input(type="text")
          label.form__block
            span.form__title Email
            input.form__input(type="text")
        .form__row
          button(type="submit").form__submit Request a demo
