.main__section.support
  .main__container
    .hero__desc.support__container
        .main__title--white Fabulous support
        ul.hero__list
          li.hero__item Deployment and configuration support at no extra charge
          li.hero__item Instant support by phone or chat
          li.hero__item Ticket response via email within 2 hours
          li.hero__item All requests are taken directly by our L2 support engineers
          li.hero__item We speak your language
          li.hero__item 24 x 7 support
        .support-buttons
          button.main__button--red.support-button(type="button") Request а demo
          button.main__button--white.support-button(type="button") About techical support
        span.support__notification *Please address your account manager for the list of languages available