.banner {
  background-color: #f8f9fa;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 96%);
  width: 100%;
  padding: 100px 0;
  margin-top: -20px;
  @include hd {
    min-height: 730px;
    display: flex;
    align-items: center;
  }
}

.banner__slider {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.banner__slider-list {
  display: flex;
}

.banner__slider-title {
  width: 50%;
  margin: 0 auto 20px auto;
}

.banner__rating-list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.banner__rating-subtitle {
  font-weight: 600;
  color: $blue;
  font-size: 14px;
}

.banner__rating-item {
  margin-right: 10px;
}

.banner__slider-rating {
  margin-bottom: 40px;
}

.banner__rating-img {
  width: 20px;
  height: 20px;
}

.control--none {
word-wrap: nowrap;
font-size: 0;
color: $white;
}

.banner_slider--prev {
  background: url('./assets/images/slider_arrow-left.png') center no-repeat;
  width: 25px;
  height: 25px;
  opacity: .7;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.banner_slider--next {
  background: url('./assets/images/slider_arrow-right.png') center no-repeat;
  width: 25px;
  height: 25px;
  opacity: .7;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}