.footer__block {
  width: 100%;
  height: rem(300px);
}

.footer__top {
  background-color: $blue;
  min-height: 65%;
  width: 100%;
  padding-top: rem(15px);
}

.links {
  height: 80%;
}

.links__list {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.links__block {
  width: 19%;
  height: 100%;
  display: inline-block;
  margin: rem(10px);
}

.links__block-item:nth-child(1) {
  margin-top: rem(15px);
}

.links__block-list {
  color: $white;
}

.links__block-link {
  color: $lightGray;
  font-weight: 300;
  font-size: rem(12px);
  &:hover {
    color: $white;
    transition: all .1s;
  }
}


.footer__bottom {
  background-color: $lightBlue;
  min-height: 35%;
  width: 100%;
  padding: rem(20px) 0;
}


.footer__bottom-block {
  width: 100%;
  display: flex;
}

.socials {
  width: 30%;
}

.socials__tel {
  margin-top: rem(15px);
}

.socials__pic {
  display: inline-block;
  margin-right: rem(30px);
}

.socials__pics {
  width: rem(20px);
  height: rem(20px);
  &:hover {
    opacity: .5;
    transition: .2s;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
}

.contacts__input, .contacts__btn {
  width: rem(180px);
  height: rem(30px);
  font-size: rem(12px);
}

.contacts__input {
  padding-left: rem(10px);
}
.contacts__btn {
  margin-left: rem(10px);
  &:hover {
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    transition: .2s;
  }
}

.contacts__copyright {
  margin-top: rem(15px);
}

.copyright {
  color: $lightGray;
  font-size: rem(12px);
}

.phone-number, .contact-us {
  color: $lightGray;
  font-size: 12px;
  margin-right: rem(10px);
  &:hover {
    color: $white;
    transition: all .1s;
  }
}