.header {
  width: 100%;
}

.header__container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  &:first-child {
    justify-content: flex-end;
  }

  @include laptop {
    width: 90%;
  }
}

.header__container-bottom {
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  display: flex;
  @include laptop {
    align-items: center;
    width: 90%;
  }
}

.header__top {
  padding-top: rem(10px);
  background-color: #f8f9fa;
  @include laptop {
    font-size: 14px;
  }
}

.header__search {
  margin-right: rem(20px);
}

.header__search-icon {
  margin-right: rem(15px);
  width: rem(20px);
  height: rem(20px);
}

.header__search-input {
  background-color: #f8f9fa;
  width: rem(140px);
  border: none;
  border-bottom: 1px solid $blue;
  outline: none;
}

.header__contact {
  margin-right: rem(15px);
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.header__lang {
  position: relative;
  margin-right: rem(15px);
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.header__select {
  cursor: pointer;
  background-color: transparent;
  color: $gray;
  margin-right: rem(15px);
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.header__lang-arrow {
  position: absolute;
  top: rem(6px);
  right: rem(3px);
  width: rem(10px);
  height: rem(10px);
}

.header__sign {
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}

.header__bottom {
  padding: rem(25px) 0;
}

.header__logo {
  width: rem(204px);
  height: rem(30px);
  margin-right: rem(30px);
  @include laptop {
    min-width: rem(120px);
    margin-right: rem(15px);
  }
}

.header-btn {
  min-width: 170px;
  height: 30px;
}

.header__logo-link {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__nav {
  margin-right: rem(50px);
  @include laptop {
    margin-right: rem(5px);
  }
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: rem(20px);
  @include laptop {
    font-size: 14px;
  }
}

.header__link {
  color: $blue;
  transition: .2s;
  &:hover {
    color: $red;
  }
}