.hero {
  background-color: $blue;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 95%);
  padding: rem(100px) 0;
}

.hero__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.hero__desc {
  width: 48%;
  text-align: left;
  color: $white;
  margin-right: 50px;
}

.hero__title {
  font-size: 60px;
  font-family: "BebasNeueBold";
  font-weight: 600;
  line-height: 1;
}

.hero__list {
  list-style-type: circle;
  margin-bottom: 30px;
  margin-left: 17px;
}

.hero__item {
  display: list-item;
  font-size: 14px;
  color: $lightGray;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}

.hero__picture {
  width: 49%;
  @include tablets {
    width: 64%;
  }
}

.hero__picture-img {
  width: 140%;
  object-fit: contain;
  @include tablets {
    width: 116%;
  }
}

.hero__slider {
  width: 100%;
  position: relative;
}

.hero__slider-window {
  width: 90%;
  margin: 0 auto;
}

.hero__slider-list {
  display: flex;
  justify-content: space-between;
}

.hero__slider-icon {
  width: 60px;
  height: 30px;
}

.hero__slider-control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero_slider-btn--prev {
  background: url('./assets/images/hero_arrow-left.png') center no-repeat;
  width: 25px;
  height: 25px;
  opacity: .7;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}

.hero_slider-btn--next {
  background: url('./assets/images/hero_arrow-right.png') center no-repeat;
  width: 25px;
  height: 25px;
  opacity: .7;
  transition: .3s;
  &:hover {
    opacity: 1;
  }
}