// !!!CHECK!!!! Before of start DELETE THAT.
.hero {
  font-size: 35px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Roboto';
  font-weight: 600;
  color: gray;
}

h1 {
  color: green;
  font-family: 'Myriad';
  font-weight: 400;
}

h2 {
  color: red;
  font-family: 'BebasNeueBold';
  font-weight: 600;
}

h3 {
  color: yellow;
  font-family: 'Roboto';
  font-weight: 600;
}

h4 {
  color: blue;
  font-family: 'Roboto';
  font-weight: 400;
}