.interested {
    background-color: $white;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 5%, 100% 96%, 0 100%);
    padding-top: rem(40px);
    padding-bottom: rem(10px);
    @include hd {
        min-height: 1100px;
        display: flex;
        align-items: center;
    }
}

.features__list {
    display: flex;
    justify-content: center;
}

.features__column {
    margin: 0 rem(10px);
    background-color: $blue;
    padding: rem(55px) rem(35px);
    min-width: rem(260px);
    height: rem(640px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablets {
        min-width: 230px;
        padding: rem(35px) rem(15px);
        height: rem(550px);
    }
}



.features__head {
    display: flex;
    flex-direction: row;
}

.features__heading {
    font-size: rem(24px);
    color: $white;
    font-family: "BebasNeueBold";
    text-align: left;
}

.features__item {
    color: $lightGray;
    font-size: rem(12px);
    text-align: left;
    margin-bottom: rem(10px);
    display: flex;
}

.features__img {
    width: rem(50px);
    height: rem(50px);
    margin-right: rem(15px);
}

.features__description {
    text-align: left;
    color: $white;
    text-align: left;
    text-transform: uppercase;
    font-size: rem(14px);
}

.features__desc {
    font-size: rem(14px);
    font-weight: 400;
    text-align: left;
    color: $white;
    padding: rem(20px) 0 rem(20px);
    @include tablets {
        font-size: 13px;
    }
}

.features__btn {
    background-color: $white;
    color: $red;
    width: 100%;
    height: rem(35px);
    align-self: flex-end;
    border: 1px solid $white;
    &:hover {
        background-color: $red;
        color: $white;
        border: 1px solid $white;
        transition: .2s;
    }
}

.features__checkmark {
    width: rem(16px);
    height: rem(16px);
    fill: $lightGray;
    margin-right: rem(10px);
    vertical-align: middle;
    width: 10%;
}

.features__text {
    width: 90%;
}