.interested {
    background-color: $white;
    -webkit-clip-path: polygon(0 0, 100% 5%, 100% 96%, 0 100%);
    clip-path: polygon(0 0, 100% 5%, 100% 96%, 0 100%);
    padding-top: 40px;
    padding-bottom: 10px;
}

.features__list {
    display: flex;
    justify-content: center;
}

.features__column {
    margin: 0 10px;
    display: block;
    background-color: $blue;
    padding: 35px;
    width: 260px;
    height: 670px;
}

.features__desc {
    font-weight: 600;
    color: $white;
}

.features__head {
    display: flex;
    flex-direction: row;
}

.features__heading {
    font-size: 24px;
    color: $white;
    font-family: "BebasNeueBold";
    text-align: left;
    width: 95%;
}

.features__item {
    color: $lightGray;
    font-size: 14px;
    text-align: left;
}

.features__img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.features__description {
    text-align: left;
    color: $white;
    text-align: left;
}

.features__desc {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    padding: 20px 0 20px;
}

.features__btn {
    background-color: $white;
    color: $red;
    width: 140px;
    height: 30px;

}

