.protect {
    background-color: $red;
    height: 100%;
    padding-top: 100px;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 93%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 93%);
}

.protect__button {
    background-color: #fff;
    color: $red;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 120px;
    width: 330px;
    height: 40px;
    &:hover {
        background-color: $red;
        color: $white;
        border: 1px solid $white;
        transition: .4s;
    }
}

.protect__button--white {
    background-color: transparent;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid $white;
    width: 330px;
    height: 40px;
    &:hover {
        color: $red;
        background-color: $white;
        transition: .4s;
    }
}

.steps {
    margin-bottom: 40px;
}

.steps__list {
    display: flex;
    justify-content: center;
}

.steps__item {
    display: inline-block;
    width: 15%;
    &:nth-child(3) {
        width: 17%;
    }
}


.steps__item-num {
    font-size: 38px;
    color: $lightGray;
}

.steps__item-word {
    color: $lightGray;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 13px;
}

.steps__item-desc {
    color: $white;
    margin-top: 20px;
}

.steps__arrow {
    width: 140px;
    height: 71px;
}

.protect-head {
    width: 100%;
    margin: auto auto 50px;
    font-size: 70px;
}

.features {
    margin-bottom: 80px;
}