.protect {
    background-color: $red;
    height: 100%;
    padding-top: 80px;
    -webkit-clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
    clip-path: polygon(0 6%, 100% 0, 100% 100%, 0 94%);
}

.protect__button {
    background-color: #fff;
    color: $red;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 20px;
    margin-bottom: 50px;
    width: 330px;
    height: 40px;
    
}

.protect__button--white {
    background-color: transparent;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid $white;
    width: 330px;
    height: 40px;
}


