.register {
    height: 100%;
    min-height: 650px;
    -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0% 100%);
    background: url('./assets/images/bg_form.png') center no-repeat;
    background-size: cover;
    padding-top: 60px;
}

.register__heading {
    text-transform: uppercase;
    color: $gray;
}

.form-container {
    width: 90%;
    margin: 0 auto;
}

.register__form {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 3px;
    box-shadow: 0 0 45.5px 0.5px #30394930;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.form__block {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form__input {
    width: 210px;
    height: 35px;
    outline: none;
}

.form__select {
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

.select-arrow {
    position: absolute;
    width: 12px;
    height: 10px;
    right: 10px;
    top: 41px;
}

.form__submit {
    width: 100%;
    height: 35px;
    background-color: $red;
    color: $white;

}

.form__title {
    color: $gray;
    text-align: left;
    font-size: 14px;
    padding-bottom: 10px;
}