.request {
  padding: 50px 0;
  background: url('./assets/images/bg_form.png');
  background-size: 100%;
  -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 96%);
  clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 96%);
  margin-bottom: -33px;
  padding: 140px 0;
}

.request-title {
  width: 90%;
}

.request__button {
  width: 100%;
}

.request__input {
  width: 100%;
  padding: 10px;
}

.request__form {
  width: 550px;
  height: 300px;
  box-shadow: 0 0 45.5px 0.5px rgba(48, 57, 73, 0.17);
  margin: 0 auto;
  padding: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.request__link {
  font-size: 14px;
  &:hover {
    color: $blue;
  }
}

.request-link__img {
  width: 11px;
  height: 11px;
  margin-left: 10px;
  transform: rotate(-90deg);

}