.support {
  background: url('./assets/images/bg_support.png') center no-repeat;
  background-size: cover;
  min-height: 600px;
  -webkit-clip-path: polygon(0 0, 100% 5%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0, 100% 5%, 100% 96%, 0% 100%);
  display: flex;
  align-items: center;
}

.support__container {
  width: 100%;
}

.support-buttons {
  display: flex;
  margin-bottom: rem(20px);
}

.support-button {
  &:nth-child(1) {
    margin-right: rem(20px);
  }
  width: rem(250px);
}

.support__notification {
  font-size: rem(12px);
  color: $lightGray;
}